<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Uml 2 Abap (Umap)"
            id="org.uml2abap.adt">
      </category>
      <view
            allowMultiple="false"
            category="org.uml2abap.adt"
            class="org.uml2abap.adt.views.UmapView"
            icon="icons/umap_logo_cropped.gif"
            id="org.uml2abap.adt.views.UmapView"
            name="Umap ">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="org.uml2abap.adt.views.UmapView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.uml2abap.adt.views.UmapView">
         <command
               commandId="referenceToMenuID"
               disabledIcon="icons/discovery.gif"
               icon="icons/discovery.gif"
               label="Connect to System"
               style="pulldown"
               tooltip="Connect to SAP System">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:referenceToMenuID">
         <dynamic
               class="org.uml2abap.adt.views.commands.DynamicContributionItem"
               id="org.uml2abap.adt.dynamic1">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.uml2abap.adt.views.handler.ContributionHandler"
            id="referenceToMenuID"
            name="referenceToMenuID">
      </command>
      <command
            defaultHandler="org.uml2abap.adt.views.handler.ContributionHandler"
            id="org.uml2abap.adt.command"
            name="name">
      </command>
   </extension>
   <extension
         id="org.uml2abap.product"
         name="Umap"
         point="org.eclipse.core.runtime.products">
   </extension>

</plugin>
